body {
  padding-top: 50px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body .failed-login {
  background-image:url('/images/froggo.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
  width: 800px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

img { 
  width: 800px;
}

header {
  width: 100%;
  height: 50px;
  left: 0;
  background-color: #4CAF50;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
}

header h2 {
  position: absolute;
  margin: 10px;
}

header p {
  margin: 10px;
  float: right;
  position: relative;
}

header a {
  color: #fff;
  display: inline-block;
  padding-top: 5px !important;
  line-height: 1;
  text-decoration: none;
  font-size: 16px;
}

nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
}

nav a {
      color: #fff;
      display: inline-block;
      padding: 10px 15px;
      line-height: 1;
      text-decoration: none;
      font-size: 16px;
}

.wrapper{
  width: 800px;
  margin: 0 auto;
}

.login-page{
  width: 360px;
  margin: auto;
}
.register-page {
  margin: auto;
}

.users-page {
  width: 500px;
  text-align: left;
}

.user-page {
  width: 500px;
  text-align: left;
}

.error {
  color: salmon;
}

.form {
  margin: auto;
  position: relative;
  z-index: 1;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .error {
  margin-bottom: 15px;
  color: salmon;
  font-size: 12px;
}

h1 {
  font-size: 38px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

input {
  background: #f2f2f2;
  margin: 0 0 15px;
  padding: 15px;
  width: 100%;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  box-shadow: none;
  transition: border-color .5s ease-out;
}

input:valid{
  border-left-color: palegreen;
}
input:invalid{
  border-left-color: salmon;
}
input:focus{
  border-left-color: #999;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: #43A047;
}
